<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fh"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Prodigy CRM</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/"
        class="nav-link text-white"
        [ngClass]="{ active: this.currentRoute == '/' }"
        aria-current="page"
        (click)="checkRoute()"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/clients"
        class="nav-link text-white"
        [ngClass]="{ active: this.currentRoute.includes('/client') }"
        (click)="checkRoute()"
      >
        Clients
      </a>
    </li>
    <li>
      <a
        routerLink="/offers"
        class="nav-link text-white"
        [ngClass]="{ active: this.currentRoute.includes('/offer') }"
        (click)="checkRoute()"
      >
        Offers
      </a>
    </li>
  </ul>
</div>
