<div class="px-5 mb-3 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="d-flex justify-content-between">
      <div>
        <h2 class="display-5 fw-bold">Your clients</h2>
      </div>
      <div class="d-flex align-items-center">
        <h4>Add client</h4>
        <div class="mx-1">
          <!-- Button trigger modal -->

          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            +
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>

<!-- creation modal  -->
<app-createclient></app-createclient>

<!-- clients -->
<div class="container">
  <div class="row g-3">
    <app-clientcard
      *ngFor="let client of clients"
      [client]="client"
    ></app-clientcard>
  </div>
</div>
