<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ client.business_name }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        P.iva:
        <span class="text-decoration-underline"> {{ client.p_iva }} </span>
      </h6>
      <div>
        <span class="text-muted">Email: {{ client.email }} </span>
      </div>
      <p class="card-text"></p>
      <a [routerLink]="['/clientSchedule', client.id]" class="btn btn-primary"
        >See more
      </a>
      <button (click)="deleteClient(client.id)" class="btn btn-danger mx-1">
        Delete client
      </button>
    </div>
  </div>
</div>
