<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Client</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newClientForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="name"
              formControlName="name"
            />
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input
              type="text"
              class="form-control"
              id="surname"
              aria-describedby="surname"
              formControlName="surname"
            />
          </div>
          <div class="mb-3">
            <label for="company_name" class="form-label">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="company_name"
              formControlName="company_name"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">P.iva</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="p_iva"
            />
          </div>
          <div class="mb-3">
            <label for="phone_number" class="form-label">Phone number</label>
            <input
              type="text"
              class="form-control"
              id="phone_number"
              formControlName="phone_number"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
              (click)="createNewClient()"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
